MONGO_URI=mongodb://user:password@host:27017/dbname?authSource=admin
MONGO_DATABASE=etl_db
MONGO_COLLECTION=records
MONGO_TIMEOUT_MS=5000
DB_INSERT_BATCH_SIZE=5000
DB_QUERY_BATCH_SIZE=1000
LOG_FILE=etl_app.log
CONFIG_FILE=config.json
